# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [4]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')

### Step 3. Assign it to a variable called users.

In [5]:
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Discover what is the mean age per occupation

In [6]:
users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [67]:

import numpy as np

def print_grp(grp):
    for key, item in grp:
        #print("Key:" + key)
        print(grp.get_group(key), "\n\n")
    
# create a new column of 'female' based on the colum of gender
users['female'] = np.where(users['gender']=='F', 1, 0)
#looks at the dataframe again and you can see all women are coded as 1 and men as 0
#users.head()
# now we can take the mean of the 'female' column 
# to see what percentage of the data is women.
users['female'].mean()

occ_gen_grp = users.groupby(['occupation', 'gender'])
occ_grp = users.groupby(['occupation'])

#print(g)

ratios = []
for occ in occ_grp.groups.keys():
    if (occ, 'M') not in occ_gen_grp.groups:
        ratio = 0
    elif (occ, 'F') not in occ_gen_grp.groups:
        ratio = 1
    else:
        total = occ_gen_grp.get_group((occ, 'F'))['age'].count() + occ_gen_grp.get_group((occ, 'M'))['age'].count()
        ratio = occ_gen_grp.get_group((occ, 'M'))['age'].count() / total
    ratios.append((occ, ratio))
    #print(f"occupation: {occ} ratio: {ratio}")

sorted_by_second = sorted(ratios, key=lambda tup: tup[1], reverse=True)
print (sorted_by_second)

[('doctor', 1), ('engineer', 0.9701492537313433), ('technician', 0.9629629629629629), ('retired', 0.9285714285714286), ('programmer', 0.9090909090909091), ('executive', 0.90625), ('scientist', 0.9032258064516129), ('entertainment', 0.8888888888888888), ('lawyer', 0.8333333333333334), ('salesman', 0.75), ('educator', 0.7263157894736842), ('student', 0.6938775510204082), ('other', 0.6571428571428571), ('marketing', 0.6153846153846154), ('writer', 0.5777777777777777), ('none', 0.5555555555555556), ('administrator', 0.5443037974683544), ('artist', 0.5357142857142857), ('librarian', 0.43137254901960786), ('healthcare', 0.3125), ('homemaker', 0.14285714285714285)]

### Step 6. For each occupation, calculate the minimum and maximum ages

In [71]:
occ_grp = users.groupby(['occupation'])
print("Min ages\n")
print(occ_grp['age'].min())
print("Max ages\n")
print(occ_grp['age'].max())

Min ages

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64
Max ages

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

### Step 7. For each combination of occupation and gender, calculate the mean age

In [72]:
occ_gen_grp = users.groupby(['occupation', 'gender'])
print("Mean ages\n")
print(occ_gen_grp['age'].mean())

Mean ages

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
Name: gender, dtype: float64